body{
background-color: #664a88;
margin: 0px;

}


.container{
max-width:none;
margin: 0 auto;
font-size: 24px;
padding: 25px 0px 0px 0px;
}

.parallax{
  padding: 100px 35px;
     background: transparent

}

.tittle{
  z-index: 2;
    position: relative;
    font-size: 128px;
    margin-top: -50px;



}

.sub-tittle{
  z-index: 2;
      position: relative;
      color: white;

}

.text{
  z-index: 2;
  position: relative;
  font-size: 14px;
  margin: -150px 0px 180px 0px;
  width: 490px;
  color: white;

}



.vertical-menu {
  width: 200px;
  float: right;
  position:relative;
z-index: 2;
}

.vertical-menu a {
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
  border-left-style: solid;
border-left-color: #fff;
border-left-width: 4px;
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
  border-left-style: solid;
border-left-color: #fff;
border-left-width: 4px;
}

.clouds{
margin-top: -210px;
position: relative;
    width: 100%;
    height: auto;
    z-index: 3;
  }


  .section2
  {
    background-color: #664a88;
        padding: 40px 0px 0px 150px;
  }

  .section2:after {
  content: "";
  display: table;
  clear: both;
}



.column {
  float: left;
    width: 50%;

}



.img1{

  width: 75%;
}

.img2{

  width: 75%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



.img3{
  z-index: 2;
  position: relative;
  left: 170px;
  top: 50px;
  width: 40%;
}

.img4{
  z-index: 1;
      width: 50%;

}

.img5{
  z-index: 2;
  position: relative;
  left: 70px;
  top: -200px;
  width: 25%;
}

.img6{
  z-index: 1;
width: 40%;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main {
  transition: margin-left .5s;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.section3 {
background-color: #F2F3F5;
height: 720px;

}

.section4 {
background-color: #664a88;
}

.pictures{

  padding: 110px 0px 10px 35px;
}

.purplesquare{

  background-color: #B08DFF;
  width: 300px;
  height: 378px;
  z-index: 3;
  position: relative;
  margin-left: 500px;
  top: -100px;
}

h1,h2,h3,p{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.button-wrapper {
  text-align: center;
  position: relative;
  z-index: 3;
  float: left;
  top: -150px;
}

.button {
  border: none;
  border-radius: 3em;
  display: inline-block;
  font-size: 0.8em;
  padding: 0.5em 0.8em;
  width: auto;
  cursor: pointer;
}

.cta-button {
  background-color: white;
  color: #E672A3 !important;

}

.cta-button:hover {
  background-color: #E672A3;
  color: #fff;

}

a {
text-decoration: none;
font-family: 'Montserrat', sans-serif;
}
